h1 {
  color: black;
  font-size: 36px;
}

@@media (min-width: 576px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  color: black;
}

p {
  font-size: 20px;
}

.first-section li {
  padding-bottom: 8px;
}

.first-section ul {
  background-color: #F7F9FC;
  margin-top: 25px;
  padding: 30px 55px;
  border-radius: 8px;
}

.first-section img {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .first-section img {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .first-section img {
    margin-bottom: 0;
  }
}

header {
  background-color: #F0F8FF;
  padding: 200px 0;
  background-image: url("../img/jumping_cats.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.first-section {
  background-color: white;
}

.section {
  padding: 60px 0 40px;
}

body {
  color: #4a4a4a;
}
